.btn-test{
    width:100px;
    height: 80px;
    border-radius: 4px;
    background-color: brown;
    font-size: 21px;
    padding:10px;
}

.user-list-wrapper{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:20px;
}

.btn-reload{
    background-color: rgb(87, 87, 135);
    color:white;
    padding: 10px;
    border-radius: 4px;
    margin-top:10px;
    font-weight: bold;

}