.loader-wrapper{
    background-color: rgb(128, 183, 175);
    position: absolute;
    /* top:0;
    right:0; */
    width:100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}