<nav>
  <div appMyRouterLink="/login">Link to Login</div>
  <div appMyRouterLink="/register">Link to Register</div>
</nav>
<router-outlet />
<!-- <div appHighlightOnMove>Hello, Directives</div> -->



<!-- Playground -->
<hr>
<!-- Structoral directives are always with * prefix -->
<div *ngIf="true">Simple Div 1</div>

<!-- the star prefix refers to ng-teemplate -->
<ng-template [ngIf]="true">
  <div>Simple Div 1.1</div>


</ng-template>

<!-- Custom Structoral Directives -->

<!-- Usage 1 -->
<button (click)="toggle()">toggle my state</button>

<div *appMyStructuralDirective="isShown">
  Structural directives (Usage 1)
</div>

<!-- Usage 2 -->
<ng-template 
[appMyStructuralDirective]="isShown" 
let-value="value" 
let-impl 
#myDirectiveRef="appMyStructuralDirective"
>
  <div>Structural Directives (Usage 2)</div>
  <h4>Value: {{value}} : {{impl}}</h4>
</ng-template>

<!-- Usage 3 -->

<ng-template #temp>

  <div>Structural Directives (Usage 3)</div>

</ng-template>

<ng-container [appMyStructuralDirective] = "isShown" [myTempProp] = "temp"></ng-container>
<hr>