<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">

    <!-- EMAIL -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" formControlName="email" />
    </div>
    <!-- email error message -->
    <div *ngIf="registerForm.get('email')?.touched">
        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid Email</div>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" formControlName="password">
    </div>

    <!-- password error message -->
    <div *ngIf="this.registerForm.get('password')?.errors?.['maxlength']">
        Invalid password! Lenght is longer than
        {{this.registerForm.get('password')?.errors?.['maxlength'].requiredLength}}
    </div>

    <button>Register</button>
</form>

<br><br><br>

{{registerForm.value | json}}